#selectedBlogs {
  font-size: 1.5em;
  color: #009A8A;
}

#image {
  float: right;
}

#email {
  word-wrap: break-word;
}

.portfolioIFrameShowSmall {
  width: 80%;
}

.portfolioIFrameShowRegular {
  width: 560px;
  height: 315px;
}

.portfolioImageShowSmall {
  width: 80%;
}

.portfolioImageShowRegular {
  width: 560px;
}

.dropDownItem a {
  color: #009A8A !important;
}

.blurbStyle {
  font-size: 1.5em;
  color: gray;
}

.contact-body {
  font-size: 1.5em;
}

.dropDownItem a:hover {
  color: #007D9A !important;
}

.tarjeta:hover {
  background-color: #009A8A !important;
  cursor: pointer !important;

}

.tarjeta:active {
  background-color: #007D9A !important;
  cursor: pointer !important;
}

#Root:hover {
  color: #007D9A !important;
  cursor: pointer !important;
}
