.blurbStyle {
  font-size: 1.5em;
  color: gray;
}

#selectedBlogs {
  font-size: 1.5em;
  color: #009A8A;
}

#image {
  float: right;
}

.tarjeta:hover {
  background-color: #009A8A !important;
  cursor: pointer !important;

}

.tarjeta:active {
  background-color: #007D9A !important; 
  cursor: pointer !important;

}

#Root:hover {
  color: #007D9A !important;
  cursor: pointer !important;
}

li a:hover {
}